<!DOCTYPE html>

<link rel="stylesheet" href="/static/main.css"/>

<html>
<head>
    <title>Marga app Home Page</title>
</head>
<body>
<img src="/static/logo_rimi.png" style="width:251px;height:141px;">
<span style="font-size:170px;">VS</span>
<img src="/static/logo_barbora.jpg" style="width:251px;height:141px;">

<h1>
    Izvēlies darbību:
</h1>

<h2>
    <a href="/addurltodb/">Pievienot, apskatīt vai dzēst Rimi un Barbora saites</a>
</h2>
<h2>
    <a href="/addinfotodb/">Atjaunot datubāzē visu informāciju par produktiem (var aizņemt ilgāku laiku atkarībā no pievienoto produktu skaita)</a>
</h2>

<h2>
    <a href="/searchdb/">Meklēt un salīdzināt produktus</a>
</h2>

</body>
</html>


