
<link rel="stylesheet" href="{{=URL('static','css/main.css')}}"/>

<h3>
    <a href="index">Atgriezties sākumlapā</a>
</h3>
<h1>Meklē preces no ievadītajām saitēm</h1>
<form method = "post">
   Ievadi preces nosaukumu:
   <input name = "itemname" />
   <input type = "submit" />
</form>

{{
    store_img_URLs = {
        1: 'images/logo_rimi.png',
        2: 'images/logo_barbora.jpg',
        3: 'images/logo_maxima_sirsniiga.jpg',
    }
    }}

<table>
    <tr>
        <th>Veikals</th>
        <th>Nosaukums</th>
        <th>Cena</th>
        <th>Cena bez atl.</th>
        <th>Atl. periods</th>
        <th>Datums</th>
        <th>Bilde</th>     
      </tr>

{{for i in range(len(a)):}}

<tr>
    
    <td class="store_img"><img src="{{=URL('static', store_img_URLs[ a[i].store_id])}}"></td>

    <td class="item_name">{{= a[i].name}}</td>

    <td class="item_price">{{= a[i].price}}</td>
   
    <td class="item_oldprice">{{= a[i].price_old if a[i].price_old else ""}}</td>
        
    <td class="discount_period">{{= a[i].discount_period if a[i].discount_period else ""}}</td>
    
    <td class="date_time_grab">{{= a[i].date_time_grab}}</td>
    
    <td class="item_img"><img src="{{=a[i].link_to_picture}}"></td>

</tr>

    {{pass}}



</table>