{% extends 'marga/base.html' %}

{% block content %}


    <title>Pievienot saiti</title>
</head>
<body>
    <br>
    
    <form class="d-flex" method=POST action="{% url 'addurltodb' %}">
        
        {{ form_addurl }}
        {% csrf_token %}
        
        <span>
       {% comment %} <input name = "urluser" /> {% endcomment %}
       <button class="btn btn-outline-dark" type="submit">Pievienot</button>
        </span>
    </form>

    <br>

    {{ reply }}
    <div>
        <br>
    </div>

{% if allurls %}
{% include 'marga/addedurls.html' %}
{% endif %}

{% endblock %}