{% extends 'marga/base.html' %}

{% block content %}

    <title>Dzēst saiti</title>
</head>
<body>

    <br>

    {% if allurls %}

    <form class="d-flex" method=POST action="{% url 'deleteurl' %}">
        
        {{ form_deleteurl }}
        {% csrf_token %}
        
       {% comment %} <input name = "deleteurl" /> {% endcomment %}
       <button class="btn btn-outline-danger" type="submit">DZĒST</button>
    </form>

    <br>

    {{ reply }}
<div>
    <br>
</div>
    
</body>
</html>



{% include 'marga/addedurls.html' %}

    
{% else %}
Nav pievienota neviena saite!
{% endif %}

{% endblock %}

