{% extends 'marga/base.html' %}

{% block content %}

    <title>Meklēt preces</title>
</head>
<body>

<ul class="pagination justify-content-center">

    {% if reply %}

    {% if selection_count == 1 %}
    <span class="navbar-text">Atlasīta {{ selection_count }} prece &nbsp;</span>
    {% else %}
    <span class="navbar-text">Atlasītas {{ selection_count }} preces &nbsp;</span>
    {% endif %}
        
    {% if reply.has_previous %}
    <li class="page-item">
    <a class="page-link" href="?page={{ reply.previous_page_number }}&name={{ searched }}&orderby={{ orderby }}&store3={{ store3 }}">&laquo;</a>
    </li>
    {% endif %}
    
    {% if reply.paginator.num_pages != 1 %}
    <li class="page-item disabled"><a class="page-link">
    Lapa {{ reply.number }} no {{ reply.paginator.num_pages }}
    </a></li>
    {% endif %}
    
    {% if reply.has_next %}
    <li class="page-item">
    <a class="page-link" href="?page={{ reply.next_page_number }}&name={{ searched }}&orderby={{ orderby }}&store3={{ store3 }}">&raquo;</a>
    </li>
    {% endif %}



    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kārtot pēc:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="?page={{ reply.number }}&name={{ searched }}&orderby=prices__discount&store3={{ store3 }}">Atlaides</a>
            <a class="dropdown-item" href="?page={{ reply.number }}&name={{ searched }}&orderby=prices__date_time_grab&store3={{ store3 }}">Datuma</a>
            <a class="dropdown-item" href="?page={{ reply.number }}&name={{ searched }}&orderby=prices__price&store3={{ store3 }}">Cenas</a>
            <a class="dropdown-item" href="?page={{ reply.number }}&name={{ searched }}&orderby=prices__price_old&store3={{ store3 }}">Cenas bez atlaides</a>
            <a class="dropdown-item" href="?page={{ reply.number }}&name={{ searched }}&orderby=name&store3={{ store3 }}">Nosaukuma</a>
            <a class="dropdown-item" href="?page={{ reply.number }}&name={{ searched }}&orderby=store_id&store3={{ store3 }}">Veikala</a>
        </div>
    </div>
</ul>

    <div class="container">
             
    <table class="sortable">
    <thead>
        <tr>
        <th>Bilde</th>
        <th>Nosaukums</th>
        <th>Cena</a></th>
        <th>Cena bez atl.</th>
        <th>Atlaide</th>
        <th>Cena par vien.</th>
        <th>Atl. periods</th>
        <th>Datums</th>
        <th>Veikals</th>
        </tr>
    </thead>
<tbody>

{% for r in reply %}

{% for p in r.prices.all|dictsortreversed:"date_time_grab"|slice:"3" %}

<tr>

    <td class="item_img"><img src="{{ r.link_to_picture }}"></td>
    
    {% if r.link_to_product == None %}
    <td class="item_name">{{ r.name }}</td>
    {% else %}
    <td class="item_name"> <a href="{{ r.link_to_product }}">{{ r.name }}</a></td>
    {% endif %}

    <td class="item_price">{{ p.price }}</td>

    {% if p.price_old == None %}
    <td class="item_oldprice"></td>
    {% else %}
    <td class="item_oldprice">{{ p.price_old }}</td>
    {% endif %}
    
    {% if p.discount == None %}
    <td class="item_discount"></td>
    {% else %}
    <td class="item_discount">{{ p.discount }} %</td>
    {% endif %}
    
    <td class="item_price_per_unit">{{ p.price_per_unit }}</td>

    {% if p.discount_period == None %}
    <td class="discount_period"></td>
    {% else %}
    <td class="discount_period">{{ p.discount_period }}</td>
    {% endif %}

    <td class="date_time_grab">{{ p.date_time_grab }}</td>

    {% if r.store_id == 1 %}
    {% load static %}
    <td class="store_img"><img src="{% static 'logo_rimi.png' %}"></td></td>
    {% endif %}

    {% if r.store_id == 2 %}
    {% load static %}
    <td class="store_img"><img src="{% static 'logo_barbora.jpg' %}"></td></td>
    {% endif %}

    {% if r.store_id == 3 %}
    {% load static %}
    <td class="store_img"><img src="{% static 'logo_maxima_sirsniiga.jpg' %}"></td></td>
    {% endif %}
       
</tr>
</tbody>

{% endfor %}

{% endfor %}

{% endif %}

</table>

</div>

<script src="/static/sort-table.js"></script>

{% endblock %}