{% extends 'marga/base.html' %}

{% block content %}


    <title>Meklēt datubāzē</title>
</head>
<body>

    <link rel="stylesheet" href="/static/main.css"/>
         
    <h1>Meklē preces:</h1>
    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}  

    <button class="btn btn-outline-success" type="submit">Aiziet</button>
        
    </form>

    {% if was_search %}

    <h2>Meklēju datubāzē "{{ searched }}"</h2>


<table class="sortable">
    <thead>
        <tr>
        <th>Bilde</th>
        <th>Nosaukums</th>
        <th>Cena</a></th>
        <th>Cena bez atl.</th>
        <th>Cena par vien.</th>
        <th>Atl. periods</th>
        <th>Datums</th>
        <th>Veikals</th>     
        </tr>
    </thead>
<tbody>
{% for r in reply %}

{% for p in r.prices.all|dictsortreversed:"date_time_grab"|slice:"10" %}

<tr>

    <td class="item_img"><img src="{{ r.link_to_picture }}"></td>
    
    <td class="item_name">{{ r.name }}</td>

    <td class="item_price">{{ p.price }}</td>

    <td class="item_oldprice">{{ p.price_old }}</td>

    <td class="item_price_per_unit">{{ p.price_per_unit }}</td>

    <td class="discount_period">{{ p.discount_period }}</td>

    <td class="date_time_grab">{{ p.date_time_grab }}</td>

    {% if r.store_id == 1 %}
    <td class="store_img"><img src="/static/logo_rimi.png"></td></td>
    {% endif %}

    {% if r.store_id == 2 %}
    <td class="store_img"><img src="/static/logo_barbora.jpg"></td></td>
    {% endif %}

    {% if r.store_id == 3 %}
    <td class="store_img"><img src="/static/logo_maxima_sirsniiga.jpg"></td></td>
    {% endif %}
         
</tr>
</tbody>

{% endfor %}

{% endfor %}

{% endif %}

</table>

<script src="/static/sort-table.js"></script>

</body>
</html>

{% endblock %}