{% extends 'marga/base.html' %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>


<table class="table" id="sortTable">
<thead>
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>Email</th>
</tr>
</thead>
<tbody>
<tr>
<td class="item_name">Adam</td>
<td class="item_name">joo</td>
<td class="item_name">Jadamj@yahoo.com</td>
</tr>
<tr>
<td class="item_name">seri</td>
<td class="item_name">sami</td>
<td class="item_name">ami_seri@rediff.com</td>
</tr>
<tr>
<td class="item_name">zeniya</td>
<td class="item_name">deo</td>
<td class="item_name">zee@gmail.com</td>
</tr>
</tbody>
</table>

<script>
$('#sortTable').DataTable();
</script>
</body>
</html>

{% endblock %}