<!DOCTYPE html>


    <title>Meklēt datubāzē</title>
</head>
<body>

<table class="sortable">
   
    <thead>
        <tr>
        <th>Bilde</th>
        <th>Nosaukums</th>
        <th class="date">Release date</a></th>
        <th>Cena bez atl.</th>
      </tr>
    </thead>
<tbody>
    <tr>
    <td>BUBU</td>
    <td>AAA</td>
    <td>XXX</td>
    <td>DDD</td>
</tr>
<tr>
    <td>AAA2</td>
    <td>XXX1</td>
    <td>DDD1</td>
    <td>BUBU2</td>
</tr>
</tbody>

</table>

<script src="/static/sort-table.js"></script>

</body>
</html>

