body {
  background-color: #e9ecef;
} 

.item_name {color:#000; text-align: left;}
.item_price {color:rgb(192, 0, 0)}
.item_oldprice {color: #00C;}
.item_discount {color:#F00}
.item_price_per_unit {color:rgb(119, 79, 4)}
.discount_period {color: #080;}
.date_time_grab {color:#000}
.item_url { color: #0000EE; }
.store_img img {width:84px;height:47px;}
.item_img img {width:84px;height:47px;}
td {
    border: 1px solid #dddddd;
    text-align: center;
    background-color: #f8f9fa;
    padding: 8px;
  }
th {
    border: 1px solid #dddddd;
    text-align: center;
    background-color: #f8f9fa;
    padding: 8px;
  }
.active {
  color: blue !important;
  }

.nav-item{
  padding-left:3px;
  padding-right:3px;
}

.btn{

  margin-left: 8px;
}

